.custom-block.tip {
  border-color: #3592B1!important
}

#main-title, .navbar .site-name, h2 {
    color: #3592B1 !important
  }

.home .feature h2 {
 color: #3592b1!important
  }

.home .feature p, .home .hero .description, body,  {
  color: #3c3c46!important
  }
a.sidebar-link, .home .footer {
  color: #898989!important
  }

a.sidebar-link.active {
  color: #3592b1!important
  }

.sidebar .sidebar-link {
  line-height: 1em!important;
  }

.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0.35rem;
}
